annotated-types==0.7.0
ansi2html==1.9.2
anyio==4.12.1
click==8.3.1
fastapi==0.115.0
h11==0.16.0
idna==3.11
Jinja2==3.1.4
MarkupSafe==3.0.3
pydantic==2.12.5
pydantic_core==2.41.5
python-multipart==0.0.9
starlette==0.38.6
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.30.6
setuptools==81.0.0
semgrep==1.121.0
